// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


.navbar{

 border: 1px solid;

}

.navbar_brand_custom {

 height: 40px;
width: 40px;

}



